<head>

	</head>
	<body>

		{% extends "main.html" %}
		{% block content %}
{% include "header.html" %}
<div class="well" style="border: 2px solid #2ECC71">
<div class="row divider green">
				<div class="col-md-12"></div>
			</div>
			<div class="row banner menu">
				<div class="col-md-11 col-md-offset-1 padding-none">
					<h1>{{ items.name }}
				 </br>
					</h1>
       </div>
				</div>

  <div class="media">
  <div class="media-left">
    <img class="logo" src="{{ url_for('static', filename='img/book1.png') }}" style="width:60px">
  </div>
  <div class="media-body">
    <h2 class="media-heading">Category:<a href = "{{url_for('showCategories', categories_id=categories.id)}}" style="color:black">- {{categories.name}}</a></h2>
    <h3 class="description">Description:{{items.description}}</h3>
    <h3 class="price">Price: {{items.price}}</h3>
  </div>
</div>
</div>
{% endblock %}
</body>
</html>
